extends layout

block append body
    .container
        +panel-primary("Activités où vous êtes inscrits")
            p
                form(action="/annulerInsc", method="post")
                    table.table-striped
                        each activite in listeDesActivitesInscriptions
                            tr
                                td #{activite['dateseance']}
                                td #{activite['designation']}
                                td #{activite['codeseance']}
                                td
                                    input(type="radio", name = "Supp", value = activite['codeseance'])

                    input(type="submit", value ="Supprimer")
    .container
        // Site footer
        footer.footer
        p © M2L - Maison des ligues de Lorraine