extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-6

                +panel-primary("Activités où vous êtes inscrits")
                    p
                        table.table-striped
                            each activite in listeDesActivitesInscriptions
                                tr
                                    li
                                        a(href='/seances') #{activite['uneDesignation']}




    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine