extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-6

                +panel-primary("Séances où vous êtes inscrits")
                    p
                        table.table-striped
                            each seance in listeDesSeances
                                ul
                                    strong
                                        li #{seance['designation']}
                                    li #{seance['dateseance']}




    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine
